.container{
    position: absolute;
    margin-left: 1%;
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    min-height: 360px;
    width: 98%;
    border-radius: 10px;
   
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
    justify-content: center;
    font-family: 'Noto Sans TC', sans-serif;
   
  }
  
input{
    
    left: 50%;
    font-size: 100%;
    width: 95%;
    height: 50px;
    margin-left: .5%;
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    font-weight: bolder;
  }

  input:focus{
    outline: none !important;
    
    
    
  }
  input:nth-child(1){
    margin-top: 20px;
  }
  button{
   
    background-color: whitesmoke;
    border: 0px solid;
    box-sizing: border-box;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    bottom: 0;
    font-weight: bolder;
    margin: 20px;
  }
  h3{
    color: whitesmoke;
    display: flex;
   margin-left: 10px;
  }
  @media(min-width: 1000px){
    .container{
      width: 1000px;
      left: calc(50% - 500px);
      position: relative;
    }
    .table{
      width: 1000px;
      left: calc(50% - 500px);
      position: relative;
      border-radius: 20px;
      border: 5px solid green;
      margin-bottom: 50px;
    }
    .table td{
      font-size: 200%;
    }
    h1{
     font-size: 30px;
    }
   
  }